<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Samurai's cars</title>
</head>
<body>
    <h1>Test</h1>
    <section  th:each="vehicle : ${vehicles}">
        <ul>
            <li th:text="${vehicle.vehicle().name()}"></li>
            <li th:text="${vehicle.vehicle().id()}"></li>
            <li th:text="${vehicle.vehicle().year()}"></li>
        </ul>
        <div th:each="photo : ${vehicle.images().photos()}">
            <img th:attr="src=@{${photo}}"/>
        </div>
    </section>
</body>
</html>